@media (max-width: 1000px) {
   
    html, body {
        overflow-x: hidden;
        min-width: 100vw;
        min-height: 100vh;
    }

    body{
        width: 100vw;
        height: 100vh;
        background-image: url(../assets/pictures/mobile/header.jpg);
        background-size: cover;
        background-repeat: no-repeat;   
    }


#containerHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100vw;
}

.logo {
    height: 100px;
    width: 200px;
    margin-right: 26%;
    margin-top: 20px;
    
}


nav {
    display: none;
    height: 100%;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding-right: 11rem;
}

#containerMainTopo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 50vw;
}

.boxText {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.boxTextH2 {
    font-family: 'Comfortaa', cursive;
    font-size: 3rem;
    color: #ffffff;
    margin-left: 100%;
    margin-bottom: 5rem;
}


#containerMainMeio {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #1F232C;
}



.boxImage {
    height: 100vh;
    width: 50vw;
    background-image: url(../assets/pictures/mobile/meio.jpg);
    background-position: center;
    background-size: cover;
}

.imgMainMeioAbaixoBoxUm {
    display: flex;
    height: 40vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.localTitle {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-family: 'Comfortaa', cursive;
}

.localParagraph {
    display: flex;
    color: #DFD6D1;
    font-family: 'Comfortaa', cursive;
    font-size: 1rem;
    text-align: center;
}

#imgMainMeioAbaixoBoxDois {
    display: flex;
    height: 50vh;
    width: 100vw;
    align-items: center;
    justify-content: center;  
}

.localTitleTwo {
    display: flex;
    justify-content: center;
    padding: 0;
    color: #FFFFFF;
    font-family: 'Comfortaa', cursive;
}

.localParagraphTwo {
    display: flex;
    color: #DFD6D1;
    font-family: 'Comfortaa', cursive;
    font-size: 1rem;
    text-align: center;
}

#imgMainMeioAbaixoBoxTres {
    display: flex;
    height: 50vh;
    width: 100vw;
    align-items: center;
    justify-content: center;  
}

.localTitleThree {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #FFFFFF;
    font-family: 'Comfortaa', cursive;
}

.localParagraphThree {
    display: flex;
    color: #DFD6D1;
    font-family: 'Comfortaa', cursive;
    font-size: 1rem;
}


.boxTextMaim {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 100vh;
    background-color: #1F232C;
}

.textMainH3 {
    display: flex;
    align-items: center;
    color: #ffffff;
    justify-content: center;
    font-family: 'Comfortaa', cursive;
    font-size: 0.5rem;
    width: 50%;
    height: 100%;
    text-align: center;
}


#mainMeioAbaixo {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/pictures/CoffeMainTwo.jpg);
    background-position: center;
    background-size: cover;
}

.mainMeioAbaixoH1 {
    color: #ffffff;
    font-family: 'Comfortaa', cursive;
    font-size: 4rem;
    margin: 0;
    margin-top: 1rem;
    padding-top: 20%;
}

.containerBoxAbaixo {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-top: 5px;
}

.mainMeioAbaixoBox {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 500px;
    background-color: #83746eb4;
}

#container {
    display: flex;
    height: 100vh;
    width:  100vw;
    justify-content: center;
    background-color: #1F232C;
}

.foto {
    height: 0vh;
    width: 0vw;
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.formulario {
    display: flex;
    font-family: Comfortaa, sans-serif;
    color: #DFD6D1;
    font-size: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50%;
    margin-top: 6rem;

}

h1 {
    font-size: 2rem;
    text-align: center;
}

.nome {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

#name {
    padding: 1rem 2rem;
    width: 300px;
    background-color: #1F232C; 
    border: none;
    color: #ffffff;
    text-align: center;
    border-bottom: 0.1rem solid #ffffff;
    outline: none; 
}

.email {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.senha {
    display: flex;
    align-items: center;
    justify-content: center;  
}

#email {
    padding: 1rem 2rem;
    width: 300px;
    background-color: #1F232C; 
    border: none;
    color: #ffffff;
    text-align: center;
    border-bottom: 0.1rem solid #ffffff;
    outline: none;
}

#email .input::placeholder {
    color: #ffffff;
}

#password {
    padding: 1rem 2rem;
    color: #ffffff;
    width: 300px;
    background-color: #1F232C; 
    border: none;
    text-align: center;
    border-bottom: 0.1rem solid #ffffff;
    outline: none;  
}

.button {
    display: flex;
    justify-content: center;
    outline: none;
}

#botao {
    margin-top: 2rem;
    padding: 1rem 3rem;
    outline: none;
    background-color: #83746E;
    font-family: Comfortaa, sans-serif;
    cursor: pointer;
}





footer{
    display: flex;
    height: 20vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: #1F232C;
}

.footerH1 {
    color: #ffffff;
    font-family: 'Comfortaa', cursive;
    font-size: 1rem;
}

.mainMeioAbaixoH1 {
    margin-top: 0;
    margin-bottom: 0;
}

.containerBoxAbaixo {
    margin-bottom: 0;

}
















}